/* Blur Layers - Depth of Field Effect */

.blurContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  pointer-events: none;
  z-index: 1;
}

.blurLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top, var(--bg-primary) 0%, transparent 100%);
  mask-image: linear-gradient(to top, black 0%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 0%, transparent 100%);
}

.layer1 {
  filter: blur(0.04px);
  z-index: 1;
  opacity: 0.2;
}

.layer2 {
  filter: blur(0.08px);
  z-index: 2;
  opacity: 0.3;
}

.layer3 {
  filter: blur(0.16px);
  z-index: 3;
  opacity: 0.4;
}

.layer4 {
  filter: blur(0.32px);
  z-index: 4;
  opacity: 0.5;
}

.layer5 {
  filter: blur(5px);
  z-index: 5;
  opacity: 0.6;
}
